.header {
   border-bottom: .1rem solid #b6bec2;
   background-color: #f5f7f8;
   padding: 1.2rem 0;
}

.headerDate {
   transition: background-color .2s ease-out,font-size .2s ease-out;
   margin: 0 0 0 -1.2rem;
   border-radius: .5rem;
   padding-right: 1.2rem;
   padding-left: 1.2rem;
   line-height: 1.5;
   color: #495257;
   font-size: 2.4rem;
   font-weight: 600;
}

.headerYear {
   transition: background-color .2s ease-out,font-size .2s ease-out;
   margin: 0 0 0 -1.2rem;
   border-radius: .5rem;
   padding-right: 1.2rem;
   padding-left: 1.2rem;
   line-height: 1.5;
   color: #49525786;
   font-size: 1rem;
   font-weight: 600;
}

.budget-page {
   padding: 0 2.4rem;
   background-color: #f5f7f8;
   height: inherit;
   width:100%
}

.budgets {
   margin-top:1.2rem
}