.budget-group {
   margin-bottom: 2.4rem;
   border-radius: 0.8rem;
   box-shadow: 0px 1px 3px 0px rgb(31 36 38 / 10%);
   background-color: #fff;
}

.budget-item-header-name {
   max-width: 50%;
   white-space: nowrap;
   display: flex;
   flex: 0 1 50%;
}

.budget-group-header-name {
   max-width: 50%;
   white-space: nowrap;
   display: flex;
   flex: 0 1 50%;
}

.budget-item-input-group {
   padding-right: 2.4rem;
}

.budget-item-form-control-disabled {
   border: 0 !important;
   background-color: #fff !important;
}

.budget-item-form-control-enabled {
}

.bottom-row {
   padding: 0.6rem 2.4rem;
}

.edit-icon-button {
   cursor: pointer;
   font-size: 31px !important;
}

.edit-buttons-container {
   width: 100%;
   text-align: right;
   padding-bottom: 0.6rem;
}

.budget-group-header {
   position: relative;
   padding: 0.8rem 2.4rem 0.8rem;
   display: flex;
   align-items: center;
}

.budget-item-row {
   position: relative;
   background-color: #fff;
   padding: 0 2.4rem;
}

.budget-item-row-content {
   position: relative;
   background-color: #fff;
   padding: 1.2rem 0;
   display: flex;
}

.budget-item-progress {
   width: 100%;
   height: 1px !important;
}

.budget-item-header-column {
   text-align: right;
   color: #8e999e;
   display: flex;
   flex: 0 1 25%;
   max-width: 50%;
}

.budget-group-header-column {
   text-align: right;
   color: #8e999e;
   display: flex;
   flex: 0 1 25%;
   max-width: 50%;
}

.category-name {
}
.spent-time {
}
.remaining-time {
}
